name: Deploy Documents

on:
  push:
    branches: [ main ]
    paths:
      - "docs/**"
  workflow_dispatch:  # Allows to trigger the workflow manually in GitHub UI

jobs:
  run:
    name: "deploy docs"
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6
        with:
          # See <https://github.com/mkdocs/mkdocs/issues/2370#issuecomment-821926264>
          fetch-depth: 0
          persist-credentials: false

      - name: Build HTML
        uses: ammaraskar/sphinx-action@8.2.3
        with:
          docs-folder: "docs/"

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: html-docs
          path: docs/_build/html/

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/_build/html
